name: OLS Validator

on:
  push:
  pull_request:

jobs:
  validate_lessons:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install validator tools
        run: npm install -g ajv-cli js-yaml-cli

      - name: Validate Gravity lesson
        run: |
          js-yaml lessons/gravity.yaml --json \
          | ajv validate --spec=draft7 -s schemas/ols.schema.json -d -

